.main-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
}

.main-container h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    max-width: 30%;
    margin: 15px;
    padding: 10px;
    background: #fff;
    position: relative;
    padding-bottom: 0;
    overflow: hidden;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card:hover .card-title {
    bottom: 0;
}

.card-title {
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    font-weight: 600;
    transition: 1s;
}

.card-title span {
    font-weight: 500;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px
}

.fav {
    font-size: 14px;
    background: red;
    padding: 4px 15px;
}